<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the RPG</h1>
    {% if current_user.is_authenticated %}
    <p>Hello, {{ current_user.acc_name }}!</p>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('dashboard') }}">Go to Dashboard</a>
    {% else %}
    <a href="{{ url_for('login') }}">Login</a> <br>
    <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
</body>
</html>
